<section id="bordered-pulled">
  <h2 class="page-header">Рамка и выравнивание</h2>
  <div class="row">
    <div class="span3">
      <p>
        Используйте класс <code>icon-border</code> и <code>pull-right</code> или <code>pull-left</code> для выравнивания иконки по левому или правому краю родительского элемента.
      </p>
    </div>
    <div class="span9">
      <div class="well well-large well-transparent">
        <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
        Комбинируйте новые стили для создания уникальных и подходящих имено для Вашему проекту иконок. Используйте анимацию. Смешные большие и много-строчные иконки. Совмещая классы и стили перед Вами предстают большие возможности для использования иконок в различных местах и проектах.
      </div>
{% highlight html linenos %}
<i class="icon-quote-left icon-4x pull-left icon-muted"></i>
 Совмещая классы и стили перед Вами предстают большие возможности...
{% endhighlight %}
      <div class="well well-large well-transparent">
        <i class="icon-flag icon-4x pull-left icon-border"></i>
        Комбинируйте новые стили для создания уникальных и подходящих имено для Вашему проекту иконок. Используйте анимацию. Смешные большие и много-строчные иконки. Совмещая классы и стили перед Вами предстают большие возможности для использования иконок в различных местах и проектах.
      </div>
{% highlight html linenos %}
<i class="icon-flag icon-4x pull-left icon-border"></i>
 Совмещая классы и стили перед Вами предстают большие возможности...
{% endhighlight %}
    </div>
  </div>
</section>
