<section id="bulleted-lists">
  <h2 class="page-header">Список</h2>
  <div class="row">
    <div class="span12">
    </div>
    <div class="span3">
      <ul class="icons-ul">
        <li><i class="icon-li icon-ok"></i>Список, например как этот</li>
        <li><i class="icon-li icon-ok"></i>Кнопки</li>
        <li><i class="icon-li icon-ok"></i>Группы кнопок</li>
        <li><i class="icon-li icon-ok"></i>Навигация</li>
        <li><i class="icon-li icon-ok"></i>Пред- и пост-идущие элементы</li>
        <li><i class="icon-li icon-ok"></i>&hellip;И еще много нового</li>
      </ul>
    </div>
    <div class="span9">
      <p>Список с иконками.</p>
{% highlight html linenos %}
<ul class="icons-ul">
  <li><i class="icon-li icon-ok"></i>Список, например как этот</li>
  <li><i class="icon-li icon-ok"></i>Кнопки</li>
  <li><i class="icon-li icon-ok"></i>Группы кнопок</li>
  <li><i class="icon-li icon-ok"></i>Навигация</li>
  <li><i class="icon-li icon-ok"></i>Пред- и пост-идущие элементы</li>
  <li><i class="icon-li icon-ok"></i>&hellip;И еще много нового</li>
</ul>
{% endhighlight %}
    </div>
  </div>
</section>
