<section id="stacked">
  <h2 class="page-header">Совмещенные иконки</h2>
  <div class="row">
    <div class="span3">
      Метод для совмещения множества иконок в одну новую. Используйте класс <code>icon-stack</code> в родительском элементе и класс
      <code>icon-stack-base</code> для нижней иконки.
    </div>
    <div class="span9">
      <div class="well well-large well-transparent lead">
        <span class="icon-stack">
          <i class="icon-check-empty icon-stack-base"></i>
          <i class="icon-twitter"></i>
        </span>
        icon-twitter на icon-check-empty<br>
        <span class="icon-stack">
          <i class="icon-circle icon-stack-base"></i>
          <i class="icon-flag icon-light"></i>
        </span>
        icon-flag на icon-circle<br>
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-terminal icon-light"></i>
        </span>
        icon-terminal на icon-sign-blank
      </div>
{% highlight html linenos %}
<span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-twitter"></i>
</span>
icon-twitter на icon-check-empty<br>
<span class="icon-stack">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-flag icon-light"></i>
</span>
icon-flag на icon-circle<br>
<span class="icon-stack">
  <i class="icon-sign-blank icon-stack-base"></i>
  <i class="icon-terminal icon-light"></i>
</span>
icon-terminal на icon-sign-blank
{% endhighlight %}
    </div>
  </div>
</section>
